<%- include('../partials/header.ejs') %>


<div class ="container">
    <div class ="row text-center">
        <div class ="col-4"></div>
        <div class ="col-4">
            <h1>Admin Register</h1><br>
            <div class ="ad-login">
                <form action ="/Admin/admin/register" method ="POST">
                <div class ="form-group"><input class ="form-control" type ="text" name ="username" placeholder ="Username" required></div>
                <div class ="form-group"><input class ="form-control" type ="password" name ="password" placeholder ="Password" required></div>
                <div class ="form-group"><input class ="form-control" type ="text" name ="first" placeholder ="First Name" required></div>
                <div class ="form-group"><input class ="form-control" type ="text" name ="last" placeholder ="Last Name" required></div>
                <div class ="form-group"><input class ="form-control" type ="text" name ="email" placeholder ="Email" required></div>
                <div class ="form-group"><input class ="form-control" type ="number" name ="mobile" placeholder ="Mobile No" required></div>
                <div class ="form-group"><input class ="form-control btn btn-outline-primary" type ="submit" name ="submit"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>