<style>
    .foo_ter{
        padding:20px;
        margin-top:5%;
    }
</style>

<div class ="container-fluid ">
    <div class ="row text-center">
        <div class ="col-md-12 col-xs-12">
            <div class ="foo_ter bg-light">
                <h6>Copyright|Library Management Sysytem</h6>
            </div>
        </div>
    </div>
</div>