<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href ="css\bootstrap.min.css">
    <link rel ="stylesheet" href ="css\animate.css">
    <title>Landing</title>
</head>
<style>
    body{
        background-image:url('images/home.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
        color:rgb(129, 34, 34);
    
    }
    .top_strip{
        padding:20px;
    }
    ul{
        float:right;
    }
    ul li{
        list-style-type:none;
        display:inline;
        padding:20px;
    }
    a{
        text-decoration: none;
        color:black;
    }
    p{
        text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size:80px;
    }
</style>
<body>
   <br><br>
    <div class ="container">
        <div class ="row text-center">
            <div class ="col-2"></div>
            <div class ="col-8 main-head">
                <div class ="animated zoomIn"><p>Welcome</p></div>
                <div class ="animated zoomIn"><p>To The</p></div>
                <div class ="animated zoomIn"><p>World Of Books</p></div>
                <br><br>
                <div class ="animated bounceIn"><a href ="students/index"><button class ="btn btn-success">Explore</button></a></div>
            </div>
        </div>
    </div>
</body>
</html>