<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel ="stylesheet" href ="../css/bootstrap.min.css">
	<link rel ="stylesheet" href ="../css/fontawesome.min.css">
	<link rel ="stylesheet" href ="../css/animate.css">
	<link rel ="stylesheet" href ="../css/indexstyle.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<link rel ="stylesheet"href ="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Courgette|Lobster+Two|Merienda|Merriweather|Noto+Serif|Patua+One|Prata&display=swap" rel="stylesheet">
	<script src ="/js/jquery.js"></script>
	<title>Library Management System</title>
</head>
<body>
	<section id ="main_home">
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="/"><img src ="/images/brand2.png"width ="200"height ="40"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse nav navbar-" id="navbarSupportedContent">
		  <ul class="navbar-nav ml-auto ">
			<li class="nav-item active">
			  <a class="nav-link" href="/" style ="color:#fff;margin-right:25px;">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/Admin/admin/master_login" style ="color:#fff;margin-right:25px;">Admin</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/Admin/admin/login" style ="color:#fff;margin-right:25px;">Librarian</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/Student/students/login" style ="color:#fff;margin-right:25px;">Student</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#notice" style ="color:#fff;margin-right:25px;">Notice</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#counter" style ="color:#fff;margin-right:25px;">Total Count</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#latest_release" style ="color:#fff;margin-right:25px;">Latest Release</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#faq" style ="color:#fff;margin-right:25px;">Faqs</a>
			  </li>
		  </ul>
		</div>
	  </nav>
	  <div class ="container">
		  <div class ="row text-center">
			  <div class ="col-xs-12" data-aos='zoom-in-up'>
					<p id ="main_head">The Art of Teaching is the Art of Assisting Discovery</p>
			  </div>
		  </div>
	  </div>
</section>
<section id ="notice">
	<div class ="container-fluid">
		<div class ="row text-center">
			<div class ="col-md-3"></div>
			<div class ="col-md-6 col-xs-12">
				<h1><u>Notices</u></h1>
			</div>
		</div>
	</div>
	<div class ="container-fluid">
		<div class ="row text-center">
			<div class ="col-md-12 col-xs-12">
				<div class ="notice_loop bg-light">
					<marquee scrolldelay="10" direction ="up"  onmouseover="stop();" onmouseout="start()">
						<ul class ="notice_list">
							<li><a href ="#">1. Notice for renewable of your library card</a></li>
							<li><a href ="#">2. Book fair on 26th july 2020</a></li>
							<li><a href ="#">3. Book Donation program conducted by NSS TEAM</a></li>
							<li><a href ="#"></a></li>
						</ul>
					</marquee>
				</div>
			</div>
		</div>
	</div>
</section><br><br>

<section id ="latest_release">
	<div class ="container-fluid">
		<div class ="row">
			<div class ="col-md-5"></div>
			<div class ="col-md-6 col-xs-12">
				<br><br>
				<h1><u>Latest Release</u></h1>
			</div>
		</div>
	</div><br>
	<div class ="container-fluid">
		<div class ="row" style ="margin-bottom:30px;">
			<div class ="col-md-4 col-xs-12">
				<div class ="card" data-aos='fade-up-right'>
					<img src ="/images/jor4.jpg" style ="height:500px"> 
				</div>
			</div>
			<div class ="col-md-4 col-xs-12">
				<div class ="card" data-aos='fade-up'>
					<img src ="/images/jor1.jpg" style ="height:550px"> 
				</div>
			</div>
			<div class ="col-md-4 col-xs-12">
				<div class ="card" data-aos='fade-up-left'>
					<img src ="/images/jor2.jpg" style ="height:500px"> 
				</div>
			</div>
		</div>
	</div>
</section>

<section id ="faq">
	<div class ="container-fluid">
		<div class ="row text-center">
			<div class ="col-md-3"></div>
			<div class ="col-md-6">
				<h1><u>FAQs</u></h1>
			</div>
		</div>
	</div><br>
	<div class ="container">
		<div id="accordian">
			<ul>
				<li>
					<h3>Q1. When  library is open ?</h3>
					<ul>
						<li><h5>Library is open 5 days in a week.<br>
							<b>Timing :</b>9am to 6pm</h5> </li>
					</ul>
				</li>
				<li>
					<h3>Q2. How we can issue any book ?</h3>
					<ul>
						<li><h5>Book can be issued by visiting the library on the specified time <br>
						Search your book and then get it registered in database by the librarian.</h5></li>
					</ul>
				</li>
				<li>
					<h3>Q3. For how many days we can keep any book ?</h3>
					<ul>
						<li><h5>You can keep any book for atmost two weeks.<br>
						Once the return day exceed you will be fine for Rs 5 per day of delay.</h5></li>
					</ul>
				</li>
				<li>
					<h3>Q4. How many book we can issue at a time ?</h3>
					<ul>
						<li><h5>You can issue atmost two books at a time.<br>
						But if have any pending issue you have to complete that in order to issue new book</h5></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	</section>

	<section id ="counter" class ="bg-light">
	
		<div class ="container-fluid">
			<div class ="row text-center">
				<div class ="col-md-3">
					<div class="item counter-box" data-aos='zoom-in-up' data-number="2000" style="visibility: visible;">
						<i class="fa fa-book"></i>
						<h2 id="number1" class="number">2000</h2>
						<span></span>
						<h2>Books</h2>
					</div>
				</div>
				<div class ="col-md-3">
					<div class="item counter-box" data-aos='zoom-in-up' data-number="300" style="visibility: visible;">
						<i class="fa fa-address-book"></i>
						<h2 id="number2" class="number">300</h2>
						<span></span>
						<h2>Ebooks/Pdfs</h2>
					</div>
				</div>
				<div class ="col-md-3 col-xs-12">
					<div class="item counter-box" data-aos='zoom-in-up' data-number="3334" style="visibility: visible;">
						<i class="fa fa-graduation-cap"></i>
						<h2 id="number3" class="number">3334</h2>
						<span></span>
						<h2>Students</h2>
					</div>
				</div>
				<div class ="col-md-3 col-xs-12">
					<div class="item counter-box" data-aos='zoom-in-up' data-number="10" style="visibility: visible;">
						<i class="fa fa-user"></i>
						<h2 id="number4" class="number">10</h2>
						<span></span>
						<h2>Librarians</h2>
					</div>
				</div>
			</div>
		</div>
		</section>
 <section id ="footer" class ="bg-light">
  <br><br>
  <div class ="container-fluid">
	  <div class ="row">
		  <div class= "col-12">
			 <div class ="row">
			   <div class="col-md-6 col-xs-12 text-center" data-aos='zoom-in-up'><br><br><br>
				 <img src ="/images/Logo_Pinwheel.png"width ="200" height="200"><br>
				 <h5>Library | NIT Jamshedpur</h5>
				 <i class ="fa fa-facebook"style ="font-size:30px;color:brown"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 <i class ="fa fa-twitter"style ="font-size:30px;color:brown"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 <i class ="fa fa-instagram"style ="font-size:30px;color:brown"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
				 <div class =""><h3>Contact Us</h3></div>
			   </div>
			   <div class="col-md-6 col-xs-12">
				 <form method="POST" action="/complain/log_complaint" class= "">
				   <div class="form-group"><input class="form-control" type="text" name="title" placeholder="Title"
					   required></div>
				   <div class ="form-group"><input class= "form-control" type ="text"name ="complainer" placeholder ="Email" required></div>
				   <div class ="form-group"><input class= "form-control" type ="text"name ="subject" placeholder ="Subject" required></div>
				   <div class ="form-group"><textarea class= "form-control" type ="text"name ="complaint" placeholder ="Message" style ="min-height:200px;" required></textarea></div>
				   <div class="form-group text-center" id="sbtn"><button class="btn btn-lg btn-primary btn-block"style="width:30%;">Submit</button>
				   </div>
				 </form>
			   </div>
			 </div>
		  </div>
	  </div>
  </div>
</div>
</section>
<script src ="/js/counter.js"></script>
<script src ="/js/jquery.js"></script>
<!-- prefix free to deal with vendor prefixes -->
<!-- <script src="http://sentudio.com/lib/js/prefixfree-1.0.7.js" type="text/javascript" type="text/javascript"></script> -->
<script type="text/javascript">
	AOS.init({
	   duration:800,
	}
	   );
</script>
<script>
	/*jQuery time*/
$(document).ready(function(){
	$("#accordian h3").click(function(){
		//slide up all the link lists
		$("#accordian ul ul").slideUp();
		//slide down the link list below the h3 clicked - only if its closed
		if(!$(this).next().is(":visible"))
		{
			$(this).next().slideDown();
		}
	})
})
</script>
</body>
</html>